<form id ="formId" #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
      <label id="label1">Username/Email</label>
      <input class="form-control" #UserName="ngModel" name="username" [(ngModel)]="formModel.username" required>
    </div>
    <div class="form-group">
      <label id="label2" >Password</label>
      <input type="password" class="form-control" #Password="ngModel" name="password" [(ngModel)]="formModel.password" required>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button id="loginButton" name="botaoLogin" type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">Login</button>
      </div>
    </div>
  </form> 

  <div id="result1" >
    <label name="resulta">
      <b id="resultado" >{{resultado}}</b>
    </label>
  </div>