  
 
  <div class="centerTitle" style="font-family: 'Trebuchet MS', sans-serif;">
    <h2  style="color: rgb(147, 146, 155);">DEI Lounge</h2>
  </div>
  <div class="wrapper">
    <div class="wrapped-div">
      <div class="tab-header">
  
        <h2 name="login" routerLink="login" routerLinkActive='active'>Sign In</h2>
        <h2 name="registar" routerLink="registar-utilizador" routerLinkActive='active'>Sign Up</h2>
      </div>
      <router-outlet></router-outlet>
  
    </div>
  </div>
  <div class="centerTitle" style="font-family: 'Trebuchet MS', sans-serif;">
      <p>Um portal onde podes encontrar trabalhos de outros anos, resposta a exames,<br> e trocares informação com os teus colegas sobre as diferentes unidades curriculares<br>da licenciatura/mestrados do DEI</p>
  </div>
  <img class="center" src="assets/LogoIsepCor.png" alt="Logo Isep" width="100" height="50">
  
  <body>&copy; Guilherme Daniel- 1181743</body>